<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<dom-module id="my-blog">
  <template>

  <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>

    <p></p>
    <p></p>

    <table>
      <tr>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Fecha</th>
        <th>Autor</th>
        <th></th>
      </tr>
      <template is="dom-repeat" items="[[posts]]">
        <tr>
          <td>{{item.titulo}}</td>
          <td>{{item.texto}}</td>
          <td>{{item.fecha}}</td>
          <td>{{item.autor.nombre}} {{item.autor.apellido}}</td>
          <td><button type="delete" class="btn btn-primary" on-click="eliminarPost">Eliminar</button></td>
        </tr>

      </template>
    </table>

    <p></p>
    <p></p>

    <button type="submit" class="btn btn-primary" on-click="obtenerPosts">Ver posts</button>
    <p></p>

  </template>

  <script>
      Polymer({
        is: 'my-blog',
        properties: {
          posts: Array
        },
        listeners: {
                },

        obtenerPosts: function() {
            const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
//          const URL = "https://api.mlab.com/databases/bootcamp/collections/posts?apiKey=594d212ef36d287df2220bf3";
          var peticion = new XMLHttpRequest();
          peticion.open("GET", URL, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
            this.posts =JSON.parse(peticion.responseText);
            console.log(this.posts);

        },
        eliminarPost: function() {
        },
        kkiminarPost: function() {
          var tituloPost = document.getElementsByName("titulo")[0].value;
          var peticion = new XMLHttpRequest();
          var URLItem = "";
          URLItem += id;
          URLItem += "?apiKey=50c5ea68e4b0a97d668bc84a";
          peticion.open("DELETE", URL, false);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send('{"titulo":"PAB Cambio POST desde Atom"}');
          console.log(nuevoPost);
          var tituloPost = document.getElementsByName("titulo")[0].value;

        }
      })
  </script>

</dom-module>
