<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-blog">
  <template>
    <style></style>
    <button type="button" name="bdLoadPosts" on-click="obtenerPosts">Cargar Posts</button>
    <table>
      <tr>
        <th>Identificador</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Fecha</th>
        <th>Autor</th>
      </tr>
      <template is="dom-repeat" items="[[posts]]">
        <tr>
          <td>{{item._id.$oid}}</td>
          <td>{{item.titulo}}</td>
          <td>{{item.texto}}</td>
          <td>{{item.fecha}}</td>
          <td>{{item.autor.nombre}} {{item.autor.apellido}}</td>
        </tr>

      </template>
    </table>
var x = document.getElementsByName("fname");

    <h2>Añadir nuevo post</h2>
    <p>Titulo: <input type="texto" name="titulo" size=50></p>
    <p>Texto: <textarea name="texto" rows="8" cols="80"></textarea></p>
    <p>Fecha: <input type="date" name="fecha" disabled="" value=""></p>
    <p>Autor: <input type="texto" name="nombre" size= 20 placeholder="Nombre"><input type="texto" name="apellido" size=20 placeholder="Apellido"></p>
    <button type="button" name="inserPosts" on-click="incluirPosts">Añadir</button>

  </template>

  <script>
      Polymer({
        is: 'my-blog',
        properties: {
          posts: Array
        },
        listeners: {
                },

        obtenerPosts: function() {
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
          var peticion = new XMLHttpRequest();
          peticion.open("POST", URL, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts =JSON.parse(peticion.responseText);

        },

        incluirPosts () {
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
          var peticion = new XMLHttpRequest();
          var tituloPost = document.getElementsByName("titulo")[0].value;
          var textoPost = document.getElementsByName("texto")[0].value;
          var fechaPost = document.getElementsByName("fecha")[0].value;
          var nombrePost = document.getElementsByName("nombre")[0].value;
          var apellidoPost = document.getElementsByName("apellido")[0].value;
          var nuevoPost = '{"titulo":"'+tituloPost+'", "texto":"'+textoPost+'", "autor":{"nombre":"'+nombrePost+'", "apellidos":"'+apellidoPost+'" }}';
          console.log(tituloPost+textoPost+fechaPost+nombrePost+apellidoPost);
          console.log(nuevoPost);

          peticion.open("POST", URL, false);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send(nuevoPost);
//          peticion.send('{"titulo":"PAB Nuevo POST desde Atom","texto":"Descripcion asociada al nuevo POST desde Atom ",  "autor":{"nombre":"Fernando", "apellidos":"Minguero" }}');
        }

      })
  </script>

</dom-module>
