<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


<dom-module id="my-newpost">

  <template >
    <p></p>
    <h3>Nuevo post</h3>
    <p></p>

    <form>
        <div class="col-10">

        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" class="form-control">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea type="text" name="texto" class="form-control" rows=4></textarea>
        </div>

        <div class="form-group">
          <label for="autor">Autor</label>
          <input type="texto" name="nombre" size= 20 placeholder="Nombre" class="form-control">
          <p></p>
          <input type="texto" name="apellido" size=20 placeholder="Apellido" class="form-control">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input type="Date" name="fecha" class="form-control" disabled="" value="[[fechaDia()]]">"[[fechaDia()]]

        </div>
        <button type="submit" class="btn btn-primary" on-click="incluirPosts">Submit</button>
      <fieldset disabled>
    <form>
  </template>

    <script>
      Polymer({
        is: 'my-newpost',
        properties: {
          posts: Array
        },
        listeners: {
                },

        incluirPosts () {
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=50c5ea68e4b0a97d668bc84a";
          var peticion = new XMLHttpRequest();

          var tituloPost = document.getElementsByName("titulo")[0].value;
          var textoPost = document.getElementsByName("texto")[0].value;
//          var fechaPost = new Date();
          var fechaPost = document.getElementsByName("fecha")[0].value;
          var nombrePost = document.getElementsByName("nombre")[0].value;
          var apellidoPost = document.getElementsByName("apellido")[0].value;
          var nuevoPost = '{"titulo":"'+tituloPost+'", "texto":"'+textoPost+'","fecha":"'+fechaPost+'","autor":{"nombre":"'+nombrePost+'", "apellido":"'+apellidoPost+'" }}';
          console.log(tituloPost+textoPost+fechaPost+nombrePost+apellidoPost);
          console.log(nuevoPost);

//          peticion.open("POST", URL, false);
//          peticion.setRequestHeader("Content-Type","application/json");
//          peticion.send(nuevoPost);
//          document.getElementsByName("fecha")[0].value = fechaPost;
        },
      fechaDia ()     {
            var today = new Date();
  //          document.getElementById('time').innerHTML=today;
  //          console log(today);
  //          console log(document.getElementById('time').innerHTML);
  //          return
        }

      })
  </script>

</dom-module>
